/* 클래스 기반 CSS(스타일) */

.area1{background-color: red;}
.area2{background-color: orange;}
.area3{background-color: yellow;}
.area4{background-color: green;}
.area5{background-color: blue;}

.block{
    border: 1px solid black;
    width: 150px;
    height: 150px;
    color: white;
    display: block;
}

.inline{
    display: inline;
}

.inline-block{
    display: inline-block;
}

.none{
    display: none;
}

/* visibility 속성 : 요소를 보이게/투명하게 만드는 속성
    -> 투명하게 만들어도 요소 크기 만큼의 공간은 계속 차지하고 있음 */

.visible{
    visibility: hidden;
}

/* 감싸는 요소 */
.container{
    border: 3px solid black;
    width: 471px;
    height: 471px;
}

/* 내부 영역 분할 요소 */
#test1 > div{
    height: 50%;
}

#test1 > div:first-child{
    background-color: blueviolet;
}

#test1 > div:last-child{
    background-color: aquamarine;
}

/* #container-up{
    height: 20%;
    background-color: red;
}

#container-mid{
    height: 30%;
    background-color: yellow;
}

#container-buttom{
    height: 50%;
    background-color: green;
} */

#test2 > div:nth-child(1){
    height: 20%;
    background-color: red;
}

#test2 > div:nth-child(2){
    height: 30%;
    background-color: yellow;
}

#test2 > div:nth-child(3){
    height: 50%;
    background-color: green;
}

/* 상하 3분할 방법2 */
.bg-red{background-color: red;}
.bg-yellow{background-color: yellow;}
.bg-green{background-color: green;}
.bg-blue{background-color: blue;}

.h-20{height: 20%;}
.h-30{height: 30%;}
.h-50{height: 50%;}

/* 좌우 2분할 */

#test3 > div{
    width: 50%;
    height: 100%;
    display: inline-block; /*  */
}

#test3 > div:first-child{
    background-color: red;
}

#test3 > div:last-child{
    background-color: blue;
}

.row{
    height: 50%;
    display: flex;
}

.col{
    width: 50%;
}

/* #test4> div:nth-child(1) > div:nth-child(1){
    background-color: red;
    width: 50%;
}

#test4 > div:nth-child(1) > div:nth-child(2){
    background-color: green;
    width: 50%;
}

#test4 > div:nth-child(2) > div:nth-child(1){
    background-color: blue;
    width: 50%;
}

#test4 > div:nth-child(2) > div:nth-child(2){
    background-color: yellow;
    width: 50%;
} */

